.footer {
    background-color: black;
    padding: 25px 0;
}

.footer__hook img {
    width: 40px;
    height: 40px;
}

.footer__hook {
    display: flex;
    gap: 10px;
}

.footer__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
}

.footer__hook p {
    font-size: 18px;
    color: #fff;
}

.footer__copyright {
    font-size: 18px;
    color: #fff;
}

@media (max-width: 500px) {
    .footer__copyright {
        font-size: 15px;
    }

    .footer__hook p {
        font-size: 15px;
    }
}