.header__wrapper {

    max-width: 1320px;
    margin: 0 auto;
    padding: 16px 0;
}

.header {
    border-bottom: 1px solid #a1a1a1b0;
}

.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right-mapimg {
    width: 30px;
    height: 30px;
}

.header__left-hook {
    width: 40px;
    height: 40px;
}

.header__left-text {
    font-size: 18px;
}

.header__left {
    display: flex;
    gap: 10px;
}

.header__right-map {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__right-contacts {
    display: flex;
    flex-direction: column;
}

.header__right {
    display: flex;
    gap: 24px;
    font-size: 20px;
}

.numbers:hover {
    color: var(--main-color);
    transition: 0.5s;
}

@media (max-width: 550px) {
    .header__right-contacts {
        font-size: 16px;
    }


}

@media (max-width: 470px) {
    .header__right-contacts {
        font-size: 12px;
    }

    .header__left-text {
        font-size: 15px;
    }

    .header__right-map {
        font-size: 13px;
    }

    .header__left-hook {
        width: 35px;
        height: 35px;
    }
}